<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/add_tweet">
        <div>
            <label>title</label>
            <div>
                <input type="text" method="GET" name="title" >
            </div>
        </div>
        <div>
            <label>text</label>
            <div>
                <input type="text" action="" method="GET" name="text" maxlength="280" >
            </div>
        </div>
        <input type="submit" name="sub">
    </form>
</body>
</html>